<div class="list-group">
    <a href="/temperature/celsius-to-fahrenheit" class="list-group-item list-group-item-action">Celsius to Fahrenheit</a>
    <a href="/temperature/celsius-to-kelvin" class="list-group-item list-group-item-action">Celsius to Kelvin</a>
    <a href="/temperature/fahrenheit-to-celsius" class="list-group-item list-group-item-action">Fahrenheit to Celsius</a>
    <a href="/temperature/fahrenheit-to-kelvin" class="list-group-item list-group-item-action disabled">Fahrenheit to Kelvin</a>
    <a href="/temperature/kelvin-to-celsius" class="list-group-item list-group-item-action">Kelvin to Celsius</a>
    <a href="/temperature/kelvin-to-fahrenheit" class="list-group-item list-group-item-action disabled">Kelvin to Fahrenheit</a>
</div>