<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Converters - Made with 
            <a href="https://www.rust-lang.org/" target="_blank">Rust</a>
            <img src="/public/images/rust.png" class="img" />
            and <a href="https://rocket.rs/" target="_blank">Rocket</a>
            <img src="/public/images/rocket.png" class="img" />
        </span>
    </div>
</footer>